@import
  'includes/fontface',
  'includes/variables',
  'includes/functions',
  'includes/mixins';

body {
	font-family: $font-family-base;
	font-size: $font-size;
	color: $color-text;
	line-height: 1.41;
	background-color: $bg-color;
}

a { 
	color: $color-link;
	text-decoration: underline;
	font-weight: 500;
	@include transition;

	&:hover,
	&:focus {
		color: $color-link;
		text-decoration: underline;
	}
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { 
	font-family: $font-family-primary;
	font-weight: bold;
}
h1, .h1 {
	font-size: 2.5rem;
}
h2, .h2 {
	font-size: 1.875rem;
}
h3, .h3 {
	font-size: 1.5rem;
}
h4, .h4 {
	font-size: 1.375rem;
}
h5, .h5 {
	font-size: 1rem;
}

// Media Query 
@include md {
	
}

@include lg {

}

@include xl {
	
}

@include xxl {

}

@include lgmax {
	
}

@include xlmax {

}

@include mdmax {
	
}

@include cdmax(440) {

}